body{
	margin:0;
	padding:0;
	font-family:'Raleway', sans-serif;
}

.mcontainer{
	max-width: 450px;
	margin:0 auto;
}

.lista-ul__menu{
	list-style-type: none;
	padding:0;
	margin:0;
	display:flex;
	justify-content:center;
}

.item-menu__lista-ul{
	display:inline-block;
	width:60px;
}

.item-menu__lista-ul img{
	width:30px;
}

.item-menu__lista-ul a{
	display:inline-block;
	text-decoration:none;
	color:black;
	text-align:center;
}

.item-menu__lista-ul:not(:last-child){
	margin-right:45px;
}

.menu__mcontainer{
	border-top:1px solid black;
	background-color: white;
	padding-top:10px;
	position:fixed;
	bottom:0;
	width:100%;
}

.title__mcontainer{
	position:fixed;
	display: flex;
	justify-content: center;
	align-items:center;
	width: 100%;
	background-color: #ffffff;
	padding: 20px 0px;
	z-index: 33;
}

.title__mcontainer a{
	color:#7c7c7c;
	padding: 7px 20px;
	font-weight:400;
	text-decoration: none;
	text-align:center;
	display: inline-block;
}

.title__mcontainer a:not(:last-child){
	margin-right:30px;
}

.title__mcontainer button{
	background-color: white;
    border: 1px solid black;
    padding: 6px 14px;
}

.feed__mcontainer{
	padding-top:5px;
    padding-left: 17px;
    padding-right: 10px;
    display: flex;
    background-color:#e7e7e7;
    flex-direction: column-reverse;
}

.perfil-imagem img{
	width:100%;
	border-radius: 100%;
}

.conteudo-master{
	margin-top:10px;
}

.perfil-imagem{
	margin-right: 12px;
	width:13%;
	display:inline-block;
}

.status-filtro-inner{
	height:100%;
}

.task__feed{
	width:100%;
}

.task-conteudo{
	box-sizing:border-box;
	border:1px solid black;
	display:inline-block;
	width:100%;
	max-width:203px;
}

.texto{
	margin-bottom:10px;
}

.info-task{
	padding: 23px 5px 10px 24px;
}

.info-task .analista-info{
	margin-bottom:20px;
}

.task-conteudo .nome-task{
	padding: 10px 0px 8px 23px;
    border-bottom: 1px solid black;
}

.task-single{
    border-left: 5px solid #06c17a;
    padding-left: 18px;
	margin-bottom:40px;
	background-color:white;
}

.status-filtro-inner .title{
	font-size:10px;
	display:block;
}

.aside-adiciona{
	position: fixed;
    bottom: 47px;
    width: 100%;
}

.aside-adiciona button{
	background-color:black;
	color:white;
}

.status-item, .status-periodo, .botao-filtrar{
	display:inline-block;
}

.hora-saida-container{
	margin-top:10px;
}

.hora-entrada{
    display: inline-block;
    margin-bottom: 5px;
}

.botao-saida-container{
    margin-top: 5px;
    margin-bottom: 5px;

}

.hora-saida-button{
    background-color: #555;
	color:white;
	border:none;
	padding: 9px 16px;
	border-radius:10px;
}

.botaoadiciona__mcontainer{
	display: flex;
    justify-content: center;
    position: fixed;
    bottom: 6%;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    background-color: white;
    padding-bottom: 33px;
    padding-top: 10px;
    height: 40px;
}

.botaoadiciona__mcontainer button{
	background-color: black;
    border: none;
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
}

.search-icon__title{
	max-width:20px;
}

.grupo-periodo-inner{
	display: flex;
    flex-direction: column-reverse;
}

.button_pause__third{
	background-color:#06c17a;
	color:white;
}

.button_pause__third img{
	max-width:20px;
}

.third-division .profile-img{
	max-width:40px;
	border-radius: 50%;
}

.first_division{
	padding: 18px 0px;
    font-size: 15px;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
}

.task-single span{
	display: inline-block;
}

.job-line{
	margin-bottom:7\px;
    max-width: 200px;
}

.tempo__inner{
	background-color:#f0f0f0;
    position: absolute;
    top: 10%;
    left: 69%;
    width: 50px;
    height: 42px;
    padding: 7px;
    padding-bottom: 3px;
    text-align: center;
}

.entrada_second{
    margin-right: 10px;
}

.second_division{
    padding: 14px;
 	padding-left: 0px;
    border-bottom: 1px solid #ccc;
}

.second__inner{
	display: flex;
    justify-content: space-between;
}

.third-division{
	position:relative;
	display: flex;
    justify-content: space-between;
}

.button_pause__third{
	position: relative;
    padding-left: 10px;
    padding-right: 14px;
	display: inline-block;
    font-size: 15px;
	width: 40%;
	height: 48px;
}

.button_pause__third img{
    max-width: 18px;
}

.button_pause_inner{
	position:absolute;
    top: 22%;
}

.button_pause_inner img{
    transform: translateY(19%);
}

.button_pause_inner span{
    transform: translateX(3.5%);
}

.info_third{
	display: inline-block;
	padding-top: 5px;
}

.name_third{
    transform: translate(8%, -72%);
    font-size: 15px;
}

.titulo-periodo{
	color:#737373;
	font-weight:400;
    font-size: 21px;
}

.filtro__mcontainer{
	position:relative;
	padding-top: 100px;
    padding-left: 13px;
    padding-right: 20px;
	background-color:#e7e7e7;

}

.executor__filtro{
	font-family:'Raleway', sans-serif;
	font-size: 16px;
	background-color:#e7e7e7;
	color:#737373;
	border:none;
}

.executor__filtro:focus{
	outline:none;
}

.add-task-btn{
	position:absolute;
	max-width:50px;
    top: 75%;
    left: 76%;
}

.active__title{
    background-color: #8a2abf;
    color: white !important;
    padding: 7px 20px;
    border-radius: 11px;
}